/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #171717;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6, span, div, section {
  color: white;
}

a {
  text-decoration: none;
  color: coral;

  &:hover {
    text-decoration: underline;
  }
}

.flights-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
