/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$manrope-typography: mat.m2-define-typography-config(
    $font-family: '"Manrope", sans-serif'
);
@include mat.typography-hierarchy($manrope-typography);
@include mat.all-component-typographies($manrope-typography);

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background: #171717;
  padding: 2rem;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1, h2, h3, h4, h5, h6, p, span, div, section, label {
  color: white;
}

a {
  text-decoration: none;
  color: coral;

  &:hover {
    text-decoration: underline;
  }
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: #171717 !important;
}

.mat-mdc-snack-bar-container .mat-mdc-snack-bar-action .mdc-button__label {
  color: aquamarine !important;
}
